:root {
  --primaryColor: #fdff9d;
  --darkGray: #272727;
  --reddishGray: #4b4b4b;
  --meduimGray: #91938f;
  --lightGray: #d3d3d3;
  --babyBlue: #5991ff;
  --basicFont: 20px;
}
.App {
  right: 0;
}

body {
  font-family: "Roboto", "Lato", sans-serif;
  background-color: #1d1d1d;
  color: #f1f1f1;
  overflow-x: hidden;
}

#main {
  margin-bottom: 5em;
}
header button {
  float: right;
  margin-top: 2em;
}
.btn {
  color: var(--primaryColor);
  background: none;
  border: var(--primaryColor);
  border-style: solid;
  border-width: 0.75px;
  border-radius: 2px;
}

hr {
  color: var(--reddishGray);
}

embed {
  color: #f1f1f1;
  height: 20px;
  width: auto;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--darkGray);
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}
.logo {
  width: 160px;
  height: 160px;
}
.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: var(--meduimGray);
  display: block;
}
.gray-font {
  color: var(--meduimGray);
}

.colored-font {
  color: var(--primaryColor);
}
.big-font {
  font-weight: 800;
}

.shifted {
  position: relative;
  left: -4em;
}
#hi-word {
  position: relative;
  top: -3em;
}

.sidenav div {
  margin-top: 60px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon a {
  padding-left: 15px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 10px;
  max-width: 80vw;
  height: 80vh;
  margin-left: 9em;
}
.main-container {
  display: flex;
  height: 98vh;
  margin-left: 200px;
}
.section {
  font-size: var(--basicFont);
}

.display-column {
  display: flex;
  flex-direction: column;
}

.display-row {
  display: flex;
  flex-direction: row;
}
.skills {
  background-color: var(--darkGray);
  padding: 1em;
  width: 80%;
  margin-top: 3.5em;
  margin-left: 2em;
}


.skill {
  border-bottom: 4px solid var(--meduimGray);
}

#skill-one {
  border-bottom: 4px solid #a1ed73;
  max-width: 85%;
  z-index: 1;
  position: relative;
  top: -4px;
}
#skill-two {
  border-bottom: 4px solid #73abed;
  max-width: 90%;
  z-index: 1;
  position: relative;
  top: -4px;
}
#skill-three {
  border-bottom: 4px solid #edd973;
  max-width: 75%;
  z-index: 1;
  position: relative;
  top: -4px;
}
#Certifications {
  padding: 1em;
  margin-left: 1.5em;
}

.icon-image {
  max-height: 50px;
  width: auto;
  display: block;
  margin-right: 0.5em;
  position: relative;
  top: 0.25em;
}

#profile-image {
  display: block;
  max-height: 90%;
  width: auto;
  position: relative;
  left: 5em;
  opacity: 0.75;
}

.center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.html-tag {
  color: var(--reddishGray);
}

.some-image {
  background-color: var(--meduimGray);
  height: 50%;
  width: 70%;
  margin-left: 2em;
}

a {
  text-decoration: none;
  color: var(--babyBlue);
}

p {
  text-align: justify;
}

.my-projects {
  display: flex;
  flex-direction: column;
  height: 98vh;
  margin-left: 200px;
}

.discription {
  width: 70%;
  text-align: center;
}
.image-toggle {
  background-color: var(--darkGray);
  padding-top: 0.5em;
  height: fit-content;
 
}

.project-image {
  display: block;
  height: 25em;
  width: auto;
  object-fit: contain;
  align-self: center;

}
.arrow {
  font-size: 4rem;
  padding: 0.5em;
  background-image: none;
  background: none;
  border: none;
  color: white;
}
.arrow:hover {
  color: var(--primaryColor);
  cursor: pointer;
}
button:disabled {
  color: var(--darkGray);
}
button:disabled:hover {
  color: var(--darkGray);
}
.disabled:hover {
  color: var(--meduimGray);
}

.links {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
}

.menu-button {
  display: none;
  margin: 0.75em;
}
.fixed{
  position: fixed;
z-index: 3;
}
.active-menu-button {
  margin: 0.75em;
}

.menu-button,
.active-menu-button,
.active-menu-button::before,
.active-menu-button::after,
.menu-button::before,
.menu-button::after {
  background-color: #edd973;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  z-index: 3;
}

.menu-button::before,
.active-menu-button::before {
  content: "";
  margin-top: 8px;
}

.menu-button::after,
.active-menu-button::after {
  content: "";
  margin-top: 16px;
}

.active-menu-button {
  background: transparent;
}

.active-menu-button::after {
  transform: rotate(-45deg);
}
.active-menu-button::before {
  transform: rotate(45deg);
  top: 4px;
}

@media (max-width: 500px) {
  #profile-image {
    position: absolute;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    object-fit:cover;
    left: 0;
    padding: 0;
    margin: 0;
    
  }

  .container {
    position: relative;
    height: fit-content;
    max-width: 95vw;
    margin-left: 10px;
    grid-template-columns: 1fr;
  grid-template-rows:repeat(2, 1fr);
  }
  
  

  .main-container {
    display: flex;
    height: 100vh;
    margin-left: 0;

  }
 .main-container .center {
   position: relative;
  align-items:flex-end;
    text-align: center;
    margin-bottom: 2em;
    font-size: 38px;
    
  }

  .shifted {

    left: 0;
  }
  #hi-word {
    top: -1.5em;
    left:1em;
    font-size: 30px;
  }
  
  .menu-button {
    display: block;
    position: fixed;
  }

  .sidenav {
    visibility: hidden;
    height: 100%;
    width: 100vw;
    min-width: 100vw;
    position: fixed;
    left: -100%;
    z-index: 2;
    overflow-y: hidden;
    padding-top: 20px;
    text-align: center;
    transition: 0.3s;
  }

  .active-nav {
    display: block;
    visibility: visible;

    left: 0;
    background-color: #1d1d1d;
    transition: 0.3s;
  }
  .some-image {
    position: relative;
    background-color: var(--meduimGray);
    height: 50%;
    max-width: 100%;
    width: 100%;
    left:-2em
  }
  .skills {
    padding: 1em;
    width: 100%;
    margin-top: 1.5em;
    margin-left: 0;
  }
  #Certifications {
    padding: 1em;
    margin-left: 0;
  }
  .my-projects {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .project-image {
    height:auto;
    width: 65vw;

  }

  .arrow {
    font-size: 2.5rem;
    padding: 0em;
    background-image: none;
    background: none;
    border: none;
    color: white;
  }
  .image-toggle {
    display: flex;
    background-color: var(--darkGray);
    padding-top: 0.5em;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
   
  }
}
